footer.footer

    div.footer_wrapper

        a.footer_wrapper--logo(href='')

        div.footer_wrapper--developer Разработка сайта <br>

            a.footer_wrapper--developer-text(href='') TopFloat

    a.footer_exile(href='') Трансляция с веб-камеры

    div.footer_wrap 

        div.footer_wrap--cnt Мы в соцсетях:

        a.footer_wrap--instagram(href='')

        a.footer_wrap--vk(href='')

        a.footer_wrap--facebook(href='')

