header.header

    a.header_logo(href='')

    ul.header_naw

        li.header_naw--item

            a.header_naw--item-exile(href='') О ЖК

        li.header_naw--item

            a.header_naw--item-exile(href='') Расположение

        li.header_naw--item

            a.header_naw--item-exile(href='') Квартиры

        li.header_naw--item

            a.header_naw--item-exile(href='') Отделка

        li.header_naw--item

            a.header_naw--item-exile(href='') Динамика строительства

        li.header_naw--item

            a.header_naw--item-exile(href='') Условия покупки

        li.header_naw--item

            a.header_naw--item-exile.header_naw--item-ex(href='') Новости

    div.header_wrap 

        div.header_wrap--phone +7 (495) 221-45-45

        a.header_wrap--office(href='') Офис продаж
    