doctype html
html
    head
        title new
        meta(charset='utf-8')
        link(rel='stylesheet' href='/css/index.css')

    body

        section.wrapper

            include header

            include main

            include footer