div.wrapper 

    img.wrapper_bgr(src='/assets/img/main/absolutbank.svg') 

    div.wrapper_cnt 

        div.wrapper_cnt--button Назад 

        div.wrapper_cnt--heading Абсолют Банк снижает <br> минимальную ставку по <br> ипотеке до 10,25%

        div.wrapper_cnt--text Базовые условия при этом сохраняются. Размер минимального первоначального взноса <br>  составляет 15%. Минимальная сумма кредита от 300 тыс. рублей, срок займа – до 30 лет.<br>
        
        div.wrapper_cnt--text Уже совсем скоро в жилой комплекс «Облака» смогут заселиться первые жители – в <br> воскресенье состоялось первое торжественное мероприятие, где мы смогли в <br> праздничной атмосфере вручить ключи нашим жителям и поздравить их с этим событием.

        div.wrapper_cnt--exile 

            a.wrapper_cnt--exile-vk(href='') 123

            a.wrapper_cnt--exile-facebook(href='') 58

            a.wrapper_cnt--exile-ok(href='') 92